<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command name="webedit:save" type="Sitecore.Support.Shell.Applications.WebEdit.Commands.Save,Sitecore.Support.77381" patch:instead="*[@type='Sitecore.Shell.Applications.WebEdit.Commands.Save,Sitecore.Client']"/>
    </commands>
  </sitecore>
</configuration>